html {
  height: 100%;
}

/* Master Styles */
body {
  margin: 0px;
}

a {
  color: #dfdfdf;
}

a:hover {
  color: #6d83ff;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* Navigation Styles */
.nav-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 25px 5px;
  background-image: url("./resources/images/milkyway.jpg");
  background-size: cover;
}

.nav-wrapper-left {
  display: flex;
  align-items: center;
}

.nav-wrapper > .nav-wrapper-left > .personality-wrapper {
  font-size: 1.2em;
}

.nav-wrapper-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-wrapper > .nav-wrapper-center > .name-wrapper {
  font-size: 1.7em;
  font-weight: bold;
  color: #dfdfdf;
}

.nav-wrapper > .nav-wrapper-center > .contact-wrapper {
  font-size: 1.2em;
}

.nav-wrapper-right {
  display: flex;
  align-items: center;
}

/* Portfolio Styles */

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.portfolio-img-background {
  transition: 1s;
  height: 300px;
  width:  100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.logo-wrapper img {
  width: 150px;
  margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
  font-family: "Roboto";
  font-size: 0.0em;
  font-weight: 600;
  color: transparent;
}

.img-text-wrapper:hover .subtitle {
  font-family: "Roboto";
  font-size: 0.8em;
  font-weight: 600;
  color: #4bb8b8;
}

.img-darken {
  transition: 1s;
  filter: brightness(10%);
}